<body>
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-6">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="p-4 border rounded bg-light">
        <div class="mb-3">
          <label for="oldPassword" class="form-label">Old Password</label>
          <input formControlName="oldPassword" type="password" class="form-control" id="oldPassword" placeholder="Enter your old password">
          <div *ngIf="oldPassword.touched && oldPassword.invalid" class="mt-2 text-danger">
            <div *ngIf="oldPassword.errors?.['required']">Old password is required.</div>
          </div>
        </div>
  
        <div class="mb-3">
          <label for="newPassword" class="form-label">New Password</label>
          <input formControlName="newPassword" type="password" class="form-control" id="newPassword" placeholder="Enter your new password">
          <div *ngIf="newPassword.touched && newPassword.invalid" class="mt-2 text-danger">
            <div *ngIf="newPassword.errors?.['required']">New password is required.</div>
          </div>
        </div>
  
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirm your new password">
          <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="mt-2 text-danger">
            <div *ngIf="confirmPassword.errors?.['required']">Confirm password is required.</div>
          </div>
          <div *ngIf="confirmPassword.valid && changePasswordForm.errors?.['passwordMismatch']" class="mt-2 text-danger">
            Passwords do not match.
          </div>
        </div>
  
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
        <button type="submit" class="btn btn-success mt-3">Change Password</button>&nbsp;&nbsp;
      <a href="" routerLink="/home" routerLinkActive="active">
        <button class="btn btn-info mt-3" type="submit">back</button>
    </a> <pre></pre>
      </form>
    </div>
  </div>
</body>