<div class="col-md-6  offset-md-3">
    <h3>UpdateOrganization Details</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="card">
            <div class="card-body">
        <div class="form-group">
            <label for="floatingName">OrganizationName</label>
            <input type="text" name="fullname" class="form-control" id="floatingName" [(ngModel)]="organization.organizationName"  >
        </div>
        <div class="form-group">
            <label for="floatingInput">Address1</label>
            <input type="text" name="address" class="form-control" id="floatingInput" [(ngModel)]="organization.address1"  >
        </div>
        <div class="form-group">
            <label for="floatingNumber">Address2</label>
            <input type="text" name="address" class="form-control" id="floatingNumber" [(ngModel)]="organization.address2"  >
        </div>
        <div class="form-group">
            <label for="floatingaddress">Place</label>
            <input type="text" name="Address" class="form-control" id="floatinggender" [(ngModel)]="organization.place"  >
        </div>
        <div class="form-group">
            <label for="floatingaddress">Pincode</label>
            <input type="number" name="fullname" class="form-control" id="floatinggender" [(ngModel)]="organization.pincode"  >
        </div>
        <div class="form-group">
            <label for="floatingName">TeleEx</label>
            <input type="text" name="fullname" class="form-control" id="floatingName" [(ngModel)]="organization.teleEx"  >
        </div>
        <div class="form-group">
            <label for="floatingName">PhoneNumber</label>
            <input type="number" name="fullname" class="form-control" id="floatingName" [(ngModel)]="organization.phoneNumber"  >
        </div>
        <div class="form-group">
            <label for="floatingName">Fax</label>
            <input type="textarea" name="fullname" class="form-control" id="floatingName" [(ngModel)]="organization.fax"  >
        </div>
        <div class="form-group">
            <label for="floatingName">Grams</label>
            <input type="text" name="fullname" class="form-control" id="floatingName" [(ngModel)]="organization.grams"  >
        </div>
        <div class="form-group">
            <label for="floatingName">Email</label>
            <input type="email" name="fullname" class="form-control" id="floatingName" [(ngModel)]="organization.email"  >
        </div>
        <div class="form-group">
            <label for="floatingName">RegisterNumber</label>
            <input type="number" name="fullname" class="form-control" id="floatingName" [(ngModel)]="organization.registerNumber"  >
        </div>
        <div class="form-group">
            <label for="floatingName">DateOfReg</label>
            <input type="textarea" name="fullname" class="form-control" id="floatingName" [(ngModel)]="organization.dateOfReg"  >
        </div>
        <div class="form-group">
            <label for="floatingInput">InceptionDate</label>
            <input type="text" name="address" class="form-control" id="floatingInput" [(ngModel)]="organization.inceptionDate"  >
        </div>
        <div class="form-group">
            <label for="floatingNumber">CSTNumber</label>
            <input type="number" name="address" class="form-control" id="floatingNumber" [(ngModel)]="organization.cSTNumber"  >
        </div>
        <div class="form-group">
            <label for="floatingInput">GSTNumber</label>
            <input type="number" name="address" class="form-control" id="floatingInput" [(ngModel)]="organization.gSTNumber"  >
        </div>
        <div class="form-group">
            <label for="floatingNumber">CECode</label>
            <input type="text" name="address" class="form-control" id="floatingNumber" [(ngModel)]="organization.cECode"  >
        </div>
        <div class="form-group">
            <label for="floatingInput">CERNumber</label>
            <input type="text" name="address" class="form-control" id="floatingInput" [(ngModel)]="organization.cERNumber"  >
        </div>
        <div class="form-group">
            <label for="floatingNumber">DRCLNumber</label>
            <input type="text" name="address" class="form-control" id="floatingNumber" [(ngModel)]="organization.dRCLNumber"  >
        </div>
        <div class="form-group">
            <label for="floatingInput">FromDate</label>
            <input type="text" name="address" class="form-control" id="floatingInput" [(ngModel)]="organization.fromDate"  >
        </div>
        <div class="form-group">
            <label for="floatingNumber">Logo</label>
            <input type="text" name="address" class="form-control" id="floatingNumber" [(ngModel)]="organization.logo"  >
        </div>
        <div class="form-group">
            <label for="floatingInput">TDSAccount</label>
            <input type="text" name="address" class="form-control" id="floatingInput" [(ngModel)]="organization.tDSAccount"  >
        </div>
        <div class="form-group">
            <label for="floatingNumber">PANGIR</label>
            <input type="text" name="address" class="form-control" id="floatingNumber" [(ngModel)]="organization.pANGIR"  >
        </div>
        <div class="form-group">
            <label for="floatingInput">PANEXT</label>
            <input type="text" name="address" class="form-control" id="floatingInput" [(ngModel)]="organization.pANEXT"  >
        </div>
        <div class="form-group">
            <label for="floatingNumber">EXIMCode</label>
            <input type="text" name="address" class="form-control" id="floatingNumber" [(ngModel)]="organization.eXIMCode"  >
        </div>
        <div class="form-group">
            <label for="floatingInput">CSTRate</label>
            <input type="text" name="address" class="form-control" id="floatingInput" [(ngModel)]="organization.cSTRate"  >
        </div>
        <div class="form-group">
            <label for="floatingNumber">ExciseDutyRate</label>
            <input type="text" name="address" class="form-control" id="floatingNumber" [(ngModel)]="organization.exciseDutyRate"  >
        </div>
      
        
        <pre></pre>
        <button class="btn btn-success" type="submit">Update</button>&nbsp;&nbsp;
        <a href="" routerLink="/organization-list" routerLinkActive="active">
            <button class="btn btn-info" type="submit">back</button></a> <pre></pre>
            </div>
        </div>
    </form>
    </div>

