
<div class="col-md-6  offset-md-3">
    <h3>Create Card</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="card">
            <div class="card-body">
       
        <div class="form-group">
            <label for="floatingName">Card Type:</label>
            <input type="text" name="type" class="form-control" id="floatingName" [(ngModel)]="cards.cardType"  >
        </div>
        <div class="form-group">
            <label for="floatingName">Name:</label>
            <input type="text" name="name" class="form-control" id="floatingName" [(ngModel)]="cards.name"  >
        </div>
        <div class="form-group">
            <label for="floatingName">CompanyName:</label>
            <input type="text" name="companyName" class="form-control" id="floatingName" [(ngModel)]="cards.companyName"  >
        </div>
        <div class="form-group">
            <label for="floatingName">Designation:</label>
            <input type="text" name="designation" class="form-control" id="floatingName" [(ngModel)]="cards.designation"  >
        </div>
        <div class="form-group">
            <label for="floatingName">Department:</label>
            <input type="text" name="department" class="form-control" id="floatingName" [(ngModel)]="cards.department"  >
        </div>
        <div class="form-group">
            <label for="floatingName">Residential Number:</label>
            <input type="text" name="residentialNumber" class="form-control" id="floatingName" [(ngModel)]="cards.residentialNumber"  >
        </div>
        
        <div class="form-group">
            <label for="floatingInput">MobileNumber</label>
            <input type="number" name="mobileNumber" class="form-control" id="floatingInput" [(ngModel)]="cards.mobileNumber"  >
        </div>
        <div class="form-group">
            <label for="floatingName">EmailId</label>
            <input type="text" name="emailId" class="form-control" id="floatingName" [(ngModel)]="cards.emailId"  >
        </div>
        <div class="form-group">
            <label for="floatingName">Off.EmailId</label>
            <input type="text" name="OffEmailId" class="form-control" id="floatingName" [(ngModel)]="cards.offEmailId"  >
        </div>
        <div class="form-group">
            <label for="floatingName">Address:</label>
            <input type="text" name="address" class="form-control" id="floatingName" [(ngModel)]="cards.address"  >
        </div>
        <div class="form-group">
            <label for="floatingName">Off.Website:</label>
            <input type="text" name="offWebsite" class="form-control" id="floatingName" [(ngModel)]="cards.offWebsite"  >
        </div>
        <div class="form-group">
            <label for="floatingName">Branches:</label>
            <input type="text" name="branches" class="form-control" id="floatingName" [(ngModel)]="cards.branches"  >
        </div>
        <div class="form-group">
            <label for="floatingName">Partner:</label>
            <input type="text" name="partner" class="form-control" id="floatingName" [(ngModel)]="cards.partner"  >
        </div>
      
        <pre></pre>
        <button class="btn btn-success" type="submit">Create Card</button>&nbsp;&nbsp;
        <a href="" routerLink="/card-list" routerLinkActive="active">
            <button class="btn btn-info" type="submit">back</button>
        </a> <pre></pre>
            </div>
        </div>
    </form>
    </div>
