
    <app-header></app-header>
        <marquee>
            <h5>
                <img src="assets/image1.jpg" alt="Icon" height="40"> Welcome to Contact Information
            </h5>
        </marquee>
    <div class="row">
        <div class="col">
            <app-navbar></app-navbar>
        </div>
        <div class="">
            <!-- <div class="background-container"> -->
                <!-- Your content goes here -->
            <!-- </div> -->
            <img src="/assets/imge1.jpg" alt="home" width="100%" height="70%" style="background-size: cover;">
        </div>
    </div>
